.contact-frame {
    height: 32rem;
    width: auto;
    display: flex;
    background-color: #302579;
    color: white;
    flex-direction: column;
    align-items: center;
    padding: 8rem;
}

.contact-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
}

.socials {
    display: flex;
    width: 100%;
    padding: 0 33%;
    justify-content: space-between;
}

.socials img {
    height: 3rem;
    width: auto;
}

.footer-text {
    font-size: 0.75rem;
}